div {
  background-color: darkblue ;
  height: 20vh;
  width: 100%;
  margin-top: -3.5vh;
}

h1{
  text-align: center;
  align-items: center;
  color: violet;
  font-family: 'Amatic SC', cursive;
  margin-top: 7vh;
}